@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400;1,500&display=swap');

body {
    transition: 0.3s;
    margin: 0;
    padding: 0;
    font-weight: 300;
    background-color: rgb(226, 218, 218);
}

h1 {
    font-size: 70px;
    line-height: 70px;
    font-weight: 300;
    margin: 10px 0;
}

h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
}

p {
    margin: 0px;
    font-size: 20px;
}

a {
    color: tomato;
    font-size: 20px;
    text-decoration: none;
    font-weight: 200
}

.dark a {
    color: rgb(235, 212, 208);
    font-size: 20px;
    text-decoration: none;
    font-weight: 200
}

.main {
    height: 80v;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

header {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}
.salmon {
    size:50% ;
}


.switch {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(36, 35, 35);
    position: relative;

}

.flicker {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.3s;
    box-shadow: inset 4px 4px 4px white,
        inset -4px -4px 4px rgb(247, 167, 167 / 90%);
}

.dark {
    background-color: rgb(46, 44, 44);
    transition: 0.3s;

}

.dark>* {
    color: white;
}

.moon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 white;
    position: absolute;
    top: 5px;
    left: 45px;
}

.dark .flicker {
    transform: translateX(40px);
}

.main {
    height: 80vh;
}

.main-text {
    width: 50%;
    padding: 30px;
}

.square {
    width: 98%;
    height: 350px;
    background-color: turquoise;
    text-align: center;
    margin: 1%;
}

.dark .square {
    background-color: violet;
}

.sub-section {
    display: flex;
    flex-wrap: wrap;
}

.hero-image {
    position: relative;
    width: 50%;
    height: 350px;
    margin-bottom: 100px;
}

.cube {
    position: absolute;
    width: 80px;
    height: 80px;

    transform: rotate(-25deg) skew(25deg);
}

.cube::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;

    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}

.cube::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;

    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
}


footer {
    display: flex;
    justify-content: center;
    padding: 100px 30px;
    background-color: rgb(39, 39, 39);
}

