@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@0,100;1,400;1,500&display=swap');

body {
    transition: 0.3s;
    margin: 0;
    padding: 0;
    font-weight: 500;
    background-color: rgb(226, 218, 218);
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 70px;
    line-height: 70px;
    font-weight: 300;
    margin: 10px 0;
}

h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
}

p {
    margin: 0px;
    font-size: 20px;
}

a {
    color: tomato;
    font-size: 20px;
    text-decoration: none;
    font-weight: 200
}

.dark a {
    color: rgb(235, 212, 208);
    font-size: 20px;
    text-decoration: none;
    font-weight: 200
}

.main {
    height: 80v;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

header {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}
.salmon {
    size:50% ;
}


.switch {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(36, 35, 35);
    position: relative;
    left: 1500px;

}

.flicker {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.3s;
    box-shadow: inset 4px 4px 4px white,
        inset -4px -4px 4px rgb(247, 167, 167 / 90%);
}

.dark {
    background-color: rgb(46, 44, 44);
    transition: 0.3s;

}

.dark>* {
    color: white;
}

.moon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 white;
    position: absolute;
    top: 5px;
    left: 45px;
}

.dark .flicker {
    transform: translateX(40px);
}

.main {
    height: 80vh;
}

.main-text {
    width: 50%;
    padding: 30px;
}

.square {
    width: 98%;
    height: 350px;
    background-color: turquoise;
    text-align: center;
    margin: 1%;
}

.dark .square {
    background-color: violet;
}

.sub-section {
    display: flex;
    flex-wrap: wrap;
}

.hero-image {
    position: relative;
    width: 50%;
    height: 350px;
    margin-bottom: 100px;
}

#Seattle {
display:block;
width: 170px;
margin: auto;
right: 12px;
bottom: -9px;
border: solid;
margin-right:30%;
position: relative;
padding: 10px;
}
#Tokyo {
    display:block;
    width: 170px;
    bottom: 567px;
    right: 953px;
    border: solid;
    margin-left:1%;
    position: fixed;
    padding: 10px;
}
#Dubai {
    display:block;
    width: 170px;
    bottom: 567px;
    right: 1141px;
    border: solid;
    margin-left:1%;
    position: fixed;
    padding: 10px;
}
#Paris {
    display:block;
    width: 170px;
    bottom: 567px;
    right: 761px;
    border: solid;
    margin-left:1%;
    position: fixed;
    padding: 10px;
}
#Lima {
    display:block;
    width: 170px;
    bottom: 567px;
    right: 568px;
    border: solid;
    margin-left:1%;
    position: fixed;
    padding: 10px;
}
.cube::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;

    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}

.cube::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;

    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
}


footer {
    display: flex;
    justify-content: center;
    padding: 100px 30px;
    background-color: rgb(39, 39, 39);
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}
th, td{
    padding: 10px 20px;
    border: 1px solid #000;
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color: rgba(147, 211, 236, 0.486);
}
#fieldset {
width: 270px;
font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

#saleHeader {

}
#photos {
    display: flex;
    position: absolute;
    top: 97px;
    left: -46px;
    width: 74px;
    height: 300px;
    column-count: 1;
    column-gap: 40px;
    column-rule-width: 1px;
    column-span: all;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
flex-direction: row;
align-content: normal;
}